<!-- NOT FUCTIONING as at 23/08/2020 -->
<!-- This html file displays my categories list 
Uses in-built functions such as object_list
-->


{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Categories {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="card">
            <ul class="breadcrumbs">
                <li class="nav-home mr-1">
                    <a href="">
                        <i class="flaticon-home mr-4"></i>
                    </a>
                </li>
                <li class="nav-home">
                    <a class="btn btn-outline-secondary" href="">Add Category
                    </a>
                </li>
            </ul>
        </div>
            
        <div class="row">
            <h4>{{ category }}</h4>
            <div class="col-md-4">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li>
                            <div class="card-header">
                                <h4 class="card-title"><a href="">Title: - {{ category }} by {{ post.author }}</a></h4>
                                {% for category in object_list %}
                                    <li>{{ category.name }}</li>
                                {% endfor %}
                            </div>                   
                        </li>                       
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Create New Content!</h4>
                            </div>
              </div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">NOTE</legend>
                                {{ form.media }}
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
