{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Socials {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title"><a href="{% url 'new_note' %}">TWITTER | FACEBOOK</a></h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="{% url 'notes' %}">
                        <i class="flaticon-home"></i>
                    </a>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li>
                            {% for post in posts %}
                            <div class="card-header">
                                <h4 class="card-title"><a href="{% url 'note-update' post.id %}">Wazzup - {{ post.title }}</a></h4>
                            </div>
                            <div class="card-body">
                                <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                                    <p>Abeg work automaticaly! {{ post.content }}</p>
                                </div>
                            </div>  
                            {% endfor %}                     
                        </li>                       
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Nav Pills (Vertical Tabs)</h4>
                            </div>
                            <div>
                                <button type="button" class="btn btn-icon btn-round btn-outline-primary mr-2">
                                <i class="fab fa-twitter"></i>
                                </button>
                                <button type="button" class="btn btn-icon btn-round btn-outline-info mr-2">
                                <i class="fab fa-linkedin-in"></i>
                                </button>
                                <button type="button" class="btn btn-icon btn-round btn-outline-primary mr-2">
                                <i class="fab fa-facebook-f"></i>
                                </button>
                                <button type="button" class="btn btn-icon btn-round btn-outline-danger">
                                <i class="fab fa-instagram"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">NOTE</legend>
                                {{ form.media }}
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
